@model CreateContactDto

@{
    ViewData["Title"] = "CreateContact";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}


<div class="col-md-12">
    <div class="chart-box">
        <h4>Contact Addition Page</h4>
        <br />
        <form method="post">
            <label>Title</label>
            <input type="text" class="form-control" asp-for="Title" />
            <br />
            <label>Description</label>
            <input type="text" class="form-control" asp-for="Description" />
            <br />
            <label>Email</label>
            <input type="text" class="form-control" asp-for="Email" />
            <br />
            <label>Phone</label>
            <input type="text" class="form-control" asp-for="Phone" />
            <br />
            <button class="btn btn-primary">Add Contact</button>
        </form>
    </div>
</div>
