@model List<SkillDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<div class="col-md-12">
    <div class="chart-box">
        <h4>Skill Table</h4>
        <div class="bs-example" data-example-id="bordered-table">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Ratio</th>
                        <th>Delete</th>
                        <th>Update</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Title</td>
                            <td>@item.Ratio</td>
                            <td><a href="/Admin/Skill/DeleteSkill/@item.Id" class="btn btn-danger">Delete</a></td>
                            <td><a href="/Admin/Skill/UpdateSkill/@item.Id" class="btn btn-success">Update</a></td>
                        </tr>
                    }
                </tbody>
            </table>
            <a href="/Admin/Skill/CreateSkill/" class="btn btn-primary">Create Skill</a>
        </div>
    </div>
</div>
