<aside class="main-sidebar dark-bg">
    <section class="sidebar">
        <div class="user-panel black-bg">
            <div class="pull-left image"> <img src="~/MainDownload-OvioAdmin-html5-template/html/dist/img/img1.jpg" class="img-circle" alt="User Image"> </div>
            <div class="pull-left info">
                <p>Yavuz İslam Özdemir</p>
                <a href="#"><i class="fa fa-circle"></i> Online</a>
            </div>
        </div>
        <!-- Sidebar Menu -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header dark-bg">Menu</li>
            <li><a href="/Admin/About/Index/"> <i class="fa fa-th"></i><span>About</span></a></li>
            <li><a href="/Admin/Contact/Index/"> <i class="fa fa-th"></i><span>Contact</span></a></li>
            <li><a href="/Admin/Experience/Index/"> <i class="fa fa-th"></i><span>Experience</span></a></li>
            <li><a href="/Admin/Feature/Index/"> <i class="fa fa-th"></i><span>Feature</span></a></li>
            <li><a href="/Admin/PortfolioData/Index/"> <i class="fa fa-th"></i><span>PortfolioData</span></a></li>
            <li><a href="/Admin/Service/Index/"> <i class="fa fa-th"></i><span>Service</span></a></li>
            <li><a href="/Admin/Skill/Index/"> <i class="fa fa-th"></i><span>Skill</span></a></li>
            <li><a href="/Admin/SocialMedia/Index/"> <i class="fa fa-th"></i><span>SocialMedia</span></a></li>
            <li><a href="/Admin/Testimonial/Index/"> <i class="fa fa-th"></i><span>Testimonial</span></a></li>
            <li><a href="/Admin/Footer/Index/"> <i class="fa fa-th"></i><span>Footer</span></a></li>
        </ul>
        <!-- sidebar-menu -->
    </section>
</aside>
