@model CreateSocialMediaDto

@{
    ViewData["Title"] = "CreateSocialMedia";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}


<div class="col-md-12">
    <div class="chart-box">
        <h4>SocialMedia Addition Page</h4>
        <br />
        <form method="post">
            <label>Title</label>
            <input type="text" class="form-control" asp-for="Title" />
            <br />
            <label>Url</label>
            <input type="text" class="form-control" asp-for="Url" />
            <br />
            <label>Icon</label>
            <input type="text" class="form-control" asp-for="Icon" />
            <br />
            <button class="btn btn-primary">Add SocialMedia</button>
        </form>
    </div>
</div>
