@model CreateServiceDto

@{
    ViewData["Title"] = "CreateService";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}


<div class="col-md-12">
    <div class="chart-box">
        <h4>Service Addition Page</h4>
        <br />
        <form method="post">
            <label>Title</label>
            <input type="text" class="form-control" asp-for="Title" />
            <br />
            <label>ImagePath</label>
            <input type="text" class="form-control" asp-for="ImagePath" />
            <br />
            <button class="btn btn-primary">Add Service</button>
        </form>
    </div>
</div>
