@model ServiceDto

@{
    ViewData["Title"] = "UpdateService";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<div class="col-md-12">
    <div class="chart-box">
        <h4>Service Update Page</h4>
        <br />
        <form method="post">
            <input type="hidden" asp-for="Id" />
            <label>Title</label>
            <input type="text" class="form-control" asp-for="Title" />
            <br />
            <label>ImagePath</label>
            <input type="text" class="form-control" asp-for="ImagePath" />
            <br />
            <button class="btn btn-primary">Update Service</button>
        </form>
    </div>
</div>