@model CreateFooterDto

@{
    ViewData["Title"] = "CreateFooter";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}



<div class="col-md-12">
    <div class="chart-box">
        <h4>Footer Addition Page</h4>
        <br />
        <form method="post">
            <label>Name</label>
            <input type="text" class="form-control" asp-for="Name" />
            <br />
            <label>Title</label>
            <input type="text" class="form-control" asp-for="Title" />
            <br />
            <button class="btn btn-primary">Add Footer</button>
        </form>
    </div>
</div>
